{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi nulla nihil quam iste obcaecati eveniet ut officia aspernatur! Reiciendis quisquam nesciunt voluptatem, ipsum earum voluptas minima vero sint dolor?</p>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid incidunt officiis eum exercitationem maiores, inventore nihil fugiat sint quia nesciunt quis ex, iure asperiores, error totam explicabo dolorem a omnis.
    Ad adipisci, omnis consectetur odit delectus aliquam nemo, architecto soluta, assumenda quis debitis nobis amet! Cumque veritatis quibusdam doloribus cupiditate labore exercitationem accusamus expedita, harum vitae adipisci tenetur? Obcaecati, velit!</p>
{{end}}